.wrapper {
	overflow: hidden;
}

.subcategory {
	font-family: "Jockey One", sans-serif;
    text-transform: uppercase;
		height: 45px;
		//margin: 0 30px;
		border-radius: 5px;
}

.scopes {
	margin: 0;
	padding: 0;
}
