@import './base';

$size: 64px;
$unit: $size / 16;

%spinner {
  display: block;
  float: left;
  width: $size;
  height: $size;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.wheel {
  @extend %spinner;
  box-shadow: (-$unit/2) (-$unit/2) 0 ($unit/2) #fff;
}

.loader {
  height: $size;
  width: $size;
  border-radius: 50%;
  background: url("../Loader/assets/loader.png") center no-repeat;
  margin: 20px auto;
}
